!!!
%html
  %head
    %title Radio
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    YO
    = yield

    :coffeescript
      soundManager.setup
        url: '#{asset_path('soundmanager2_flash9_debug.swf')}'
        flashVersion: 9
        preferFlash: false

      window.Radio ||= {}
      Radio.talks = #{Talk.all.to_json}