!!!
%html
  %head
    %title Radio
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    YO
    = yield

    :javascript
      aletr("yo");
    :coffeescript
      soundManager.setup
        url: '#{asset_path('soundmanager2_flash9_debug.swf')}'
        flashVersion: 9
        #optional: ignore Flash where possible, use 100% HTML5 mode
        preferFlash: false
        onready: ->
          alert "ready"
